@RenderBody()
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - My Application</title>
</head>
<body>
    @RenderSection("Scripts", required: false)
</body>
</html>