body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background: linear-gradient(to bottom, #000000, #15025E);
    /* background-position: fixed; */
    display: flex;
    flex-direction: column;
    color-scheme: dark;
    overflow-x: hidden;
    min-width: 270px;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* HEADER ////////////////////////////////////////////////////////////////////////////////////// */

header {
    background: #000000;
    color: #fff;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    /* max-width: 100vw; */
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
}



/* USER OPTIONS ////////////////////////////////////////////////////////////////////////////////// */

.user-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.login-button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #000000;
    text-decoration: none;
    border-radius: 4px;
    font-size: 25px;
    position: relative;
    text-align: center;
}

.dropdown {
    padding: 0.5rem 1rem;
    font-size: 25px;
    width: 10%;
}


.dropdown-content {
    right: -1%;
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.dropdown-content a {
    color: #c7c7c7;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #4A2759;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* TIME RANGE SELECTOR //////////////////////////////////////////////////////////////////////// */
.time-range-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    align-self: center;
    color: #ddd;
    flex-grow: 1;
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
}

.time-range-container select {
    border: none;
    background-color: #000000;
    width: 100px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

.time-selector {
    display: flex;

    color: #ddd;

}

.range-type-slc-box {
    display: flex;
}

.time-selector button {
    font-size: 1.5em;
    background: none;
    border: none;
}

.time-selector button:hover {
    background-color: #555;
    /* border-style: solid; */
    cursor: pointer;
    /* border-color: #888; */
    border-radius: 3px;
}

#timeframe {
    margin: 0 10px;
    font-size: 1.5em;

}


/* SIDEBAR MENU ////////////////////////////////////////////////////////////////////////////////////// */

.menu-icon {
    /* align-self: center; */
    width: 35px;
    height: 30px;
    cursor: pointer;
    position: relative;
    /* align-self: center; */
    /* margin-left: 1.5rem; */
    z-index: 999;
    margin: auto 25px;
}

.bar {
    width: 100%;
    height: 5px;
    background-color: #c7c7c7;
    position: absolute;
    transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
}

.bar1 {
    top: 0;
}

.bar2 {
    top: 12px;
}

.bar3 {
    top: 24px;
}

.menu-icon.active .bar1 {
    transform: rotate(45deg);
    top: 12px;
}

.menu-icon.active .bar2 {
    opacity: 0;
}

.menu-icon.active .bar3 {
    transform: rotate(-45deg);
    top: 12px;
}

.menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    left: -250px;
    height: 100%;
    width: fit-content;
    background-color: #000000;
    padding: 40px;
    box-sizing: border-box;
    transition: left 0.3s ease;
}

.menu.show {
    left: 0;
}

.menu-top-spacer {
    height: 10%;
}

.menu-dashbard-box,
.menu-Investment-box,
.menu-budget-box,
.menu-transaction-box,
.menu-contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.menu-dashbard-box:hover,
.menu-Investment-box:hover,
.menu-budget-box:hover,
.menu-transaction-box:hover,
.menu-contact-box:hover {
    cursor: pointer;
    background-color: #AD49E1;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 20px 0;

}

.menu p {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
}


.Copyright-ham-footer {
    width: 75px;
}



/* DASHBOARD /////////////////////////////////////////////////////////////////////////////////////// */



.Dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    margin-top: 150px;
    gap: 20px;
    padding: 20px;
    flex-grow: 1;
    min-height: 100vh;
    min-width: 430px;
}

.accountOverview-container {
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
}

.accountOverview-container h1 {
    margin: 0;
}

.accountBlanceChart-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 60%;
}

.in-ex-charts-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    color: #ddd;
    
}


.income-to-expense-chart-contianer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    width: 60%;
}





.Chart-Container {
    display: flex;
    margin-top: 90px;
    
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.expense-Chart,
.Investment-Chart,
.Transaction-History-Chart {
    padding: 20px;
    border-radius: 10px;
}

.expense-Chart,
.Investment-Chart {
    width: 45%;
    max-width: 600px;
}

.Transaction-History-Chart {
    width: 90%;
    max-width: 1200px;
}

.Transaction-list {
    color: #ffff;
    margin-top: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
}

.Transaction-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.Transaction-list th,
.Transaction-list td {

    text-align: center;
    border-bottom: 1px solid #ddd;
}

.Transaction-list th {
    background-color: #4A2759;
}

.category-drop,
.type-select {
    width: 180px;
    height: 75px;
    font-size: 1rem;
    background-color: #221f1f;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.3rem;
}

.usecase-field,
.Amount-field,
.Origin-field,
.Destination-field,
.Date-field {
    width: 180px;
    height: 50px;
    font-size: 1.3rem;
    background-color: #221f1f;
    box-shadow: none;
    border: none;
    color: #fff;
}

.Budget-income-Chart {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 60%;
}


.usecase-field,
.Amount-field,
.Origin-field,
.Destination-field,
.Date-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-button {
    background-color: transparent !important;
    border: none;
}

.submit-button:hover {
    cursor: pointer;
}




.edit-buttons button {
    background-color: transparent !important;
    border: none;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.edit-buttons button:hover {
    cursor: pointer;
    border: 1px solid #ddd;
}




.edit-menu-container {
    /* width: 50%; */
    min-width: 350px;
    max-width: 500px;
    /* height: 65%; */
    /* min-height: 700px; */
    max-height: 900px;
    background-color:#3a3a3a;
    margin-top: auto;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 0);
    border-radius: 20px;

    display: none;
    position: fixed;
    align-self: center;
    justify-self: center;
    flex-direction: column;
}

.edit-menu-container.visible {
    display: flex;
    
}

.edit-menu-container form {
    display: flex;
    flex-direction: column;
}

.edit-transaction-exit-btn-container {
    display: flex;
    justify-content: end;
}





/* .edit-type-select {
    width: 20%;
    height: 10%;
    font-size: 1rem;
    background-color: #221f1f;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.3rem;
}

.edit-category-drop {
    width: 25%;
    height: 10%;
    font-size: 1rem;
    background-color: #221f1f;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.3rem;
} */

/* .exit-btn {
    background: none;
    border: none;
    font-size: 40px;
    top: 10px;
    right: 10px;
    position: absolute;
}

.exit-btn:hover {
    cursor: pointer;
    border: 1px solid #ddd;
} */




.edit-contract-container {
    width: 50%;
    height: 65%;
    min-width: 270px;
    background-color:#67367c;
    justify-self: center;
    position: fixed;
    top: 25%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 0);
    border-radius: 10px;
    display: none;
}

.edit-contract-container.visible {
    display: grid;
}


/* Add Transaction */
.add-transaction-menu {
    /* width: 50%; */
    min-width: 350px;
    max-width: 500px;
    height: auto; 
    /* min-height: 700px; */
    max-height: 900px;
    background-color:#3a3a3a;
    margin-top: auto;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 0);
    border-radius: 20px;

    display: none;
    position: fixed;
    align-self: center;
    justify-self: center;
}

.add-transaction-menu.visible {
    display: flex;
    flex-direction: column;

}

.add-transaction-menu-exit-btn-container {
    display: flex;
    justify-content: end;
}


.add-new-acc-menu form {
    display: flex;
    flex-direction: column;
}


.input-group {
    font-size: 20px;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    width: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-group select, input{
    background-color: #2E073F;
    color: #EBD3F8;
    border: none;
    border-radius: 4px;
    height: 20px;
    font-size: 1rem;

}

.input-group option:hover {
    background-color: #4A2759;
}

.save-transaction-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.save-transaction-btn {
    font-size: 35px;
    border: none;
    background: none;
}
.save-transaction-btn:hover {
    cursor: pointer;
    background-color: #555;
    border-radius: 10px;
}

.trans-type-slct-container,
.trans-category-container,
.trans-description-container,
.trans-amount-container,
.trans-date-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.trans-category-container label, .trans-type-slct-container label, 
.trans-transf-input-container label, .trans-description-container label, 
.trans-amount-container label, .trans-date-container label, 
.trans-contract-container label, .trans-contract-cycle-container label{
    font-weight: bold;
    font-size: 1rem;
    color: #EBD3F8;
    /* display: inline-block; */
}

/* #trans-category-slct, #transf-destination-slct, 
#transf-orgini-slct, #trans-type-slct,
#contract-cycle-slct {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #c7c7c7;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(51, 51, 51)" class="bi bi-chevron-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/> </svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    cursor: pointer;
} */

#trans-category-slct:focus, #transf-destination-slct:focus, 
#transf-orgini-slct:focus, #trans-type-slct:focus, 
#trans-description-inp:focus, #trans-amount-inp:focus, 
#trans-date-inp:focus, #trans-contract-checkbox:focus, 
#contract-cycle-slct:focus, #contract-enddate-inp:focus, 
#save-transaction-btn:focus,
#edit-type-select:focus,
#edit-transf-orgin-slct:focus,
#edit-transf-destination-slct:focus,
#edit-category-Dropdown:focus,
#edit-trans-description-inp:focus,
#edit-trans-amount-inp:focus,
#edit-trans-date-inp:focus
{
    outline: none;
    border-color: #67367c;
    box-shadow: 0 0 5px rgba(183, 0, 255, 0.5);
}

#trans-category-slct option, #transf-destination-slct option, 
#transf-orgini-slct option, #trans-type-slct option , 
#contract-cycle-slct option,
#edit-type-select option,
#edit-transf-orgin-slct option,
#edit-transf-destination-slct option,
#edit-category-Dropdown option {
    font-size: 1rem;
    padding: 0.5rem;
    color: #c7c7c7;
    text-align: center;
}




.Total-data {
    color: #c7c7c7;
}





.Account-Name-H1 {
    font-size: 100px;
}

.Account-Balance-p {
    font-size: 30px;
}










.expensesByCategoryChart-container,
.incomeByCategoryChart-container {
    width: 45%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center h2 and canvas horizontally */
    margin: 0 2.5%;
}

.expensesByCategoryChart-container h2,
.incomeByCategoryChart-container h2 {
    text-align: center;
    /* Center the h2 text */
    margin-bottom: 20px;
    /* Add some space between h2 and canvas */
}


.transaction-table-container,
.contract-table-container {
    margin-top: 150px;
    width: 900px;
    height: auto;
    color: #ffff;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    
    /* Add this to prevent overflow issues */
}

.transaction-table-container table,
.contract-table-container table {
    background-color: #221f1f;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

/* Add this block to make the tbody scrollable */
.transaction-table-container tbody,
.contract-table-container tbody {
    display: block;
    height: 700px;
    /* Adjust the height as needed */
    overflow-y: auto;
    width: 100%;
    /* box-shadow: inset 0px -4px 19px 0px #000000; */
    box-shadow: inset 0px -15px 20px -10px #000000;
}

/* Add this block to keep the thead fixed */
.transaction-table-container thead,
.contract-table-container thead {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #4A2759;
    display: table;
    table-layout: fixed;
}

.transaction-table-container tbody tr,
.contract-table-container tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;

}

.transaction-table-container tbody tr:hover,
.contract-table-container tbody tr:hover {

    background-color: #555;
}

.transaction-table-container th,
.transaction-table-container td .contract-table-container th,
.contract-table-container td {
    padding: 10px;
    text-align: center;
}
















/* Exit Button */
.exit-btn {
    display: flex;
    justify-self: right;
    scale: 125%;
    background: none;
    border: none;
    font-size: 25px;
    width: 20px;
    height: 20px;
    padding: 0;
}

.exit-btn:hover {
    cursor: pointer;
    color: crimson;
}

/*Dark background overlay for every toggle box */
.dark-overlay {
    background-color: #00000083;
    top: 0;
    position: fixed;
    width: 100%;
    height: 2000px;
    display: none;
}

.dark-overlay.visible {
    display: block;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

footer {
    background: #04163E;
    color: #c7c7c7;
    text-align: center;
    padding: 0rem;
    width: 100%;
}

input[type="submit"] {
    border: none;
    font-size: 2rem;
    background-color: #000000;
    margin-left: auto;
    display: block;
}




@media (max-width: 899px) {
    .transaction-table-container,
    .contract-table-container {
        /* font-size: 13px; */
        width: auto;
        height: auto;
        overflow-y: hidden;
    }

    .accountBlanceChart-Container {
        width: auto;
        height: auto;
    }

    .in-ex-charts-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .expensesByCategoryChart-container,
    .incomeByCategoryChart-container {
        width: auto;
        
    }

    .expensesByCategoryChart-container {
        margin-top: 40px;
    }

    .incomeByCategoryChart-container {
        margin-top: 200px;
    }

    .income-to-expense-chart-contianer {
        width: auto;
    }
}

@media (max-width: 625px) {
    .transaction-table-container,
    .contract-table-container {
        font-size: 13px;

    }
}

@media (max-width: 500px) {
    .transaction-table-container,
    .contract-table-container {
        font-size: 11px;
    }
}

@media (max-height: 710px) {
    .add-transaction-menu {
        font-size: 5px;
    }

    .input-group {
        margin-bottom: 15px;
    }
}

@media (max-height: 685px) {
    .input-group {
        margin-bottom: 10px;
    }
}

@media (max-height: 650px) {
    .input-group {
        margin-bottom: 5px;
    }
}

@media (max-height: 612px) {
    .add-transaction-menu {
        margin-top: 0px;
    }

    .input-group {
        margin-bottom: 0px;
    }
}




/* @media (max-width: 440px) {

    header {
        padding: 0;
        max-width: 430px;
    }

    .user-options {
        width: 20px;
        font-size: 10px;
    }
    .Dashboard {
        padding: 0;
    }
} */

/* @media (max-width: 768px) {
    .Chart-Container {
        flex-direction: column;
        align-items: center;
    }

    .expense-Chart,
    .Investment-Chart,
    .Transaction-History-Chart {
        width: 90%;
        margin: 20px 0;
    }

    .user-options {
        width: auto;
        flex-direction: column;
        align-items: flex-end;
    }

    .category-drop,
    .type-select,
    .usecase-field,
    .Amount-field,
    .Origin-field,
    .Destination-field,
    .Date-field {
        width: 100%;
        margin-bottom: 10px;
    }

    .Transaction-list {
        padding: 10px;
    }

    .Transaction-list table {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    header {
        padding: 1rem;
    }

    .login-button,
    .dropdown {
        font-size: 20px;
        padding: 0.4rem 0.8rem;
    }

    .menu {
        width: 200px;
    }

    .Dashboard {
        padding: 10px;
    }

    .category-drop,
    .type-select,
    .usecase-field,
    .Amount-field,
    .Origin-field,
    .Destination-field,
    .Date-field {
        width: 100%;
        font-size: 1rem;
    }

    input[type="submit"] {
        font-size: 1.5rem;
    }

    .Transaction-list {
        flex-direction: column;

    }

    .Transaction-list th,
    .Transaction-list td {
        padding: 5px;
    }
} */