body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background: linear-gradient(to bottom, #000000, #15025E);
    background-position: fixed;
    display: flex;
    flex-direction: column;
    color-scheme: dark;
    overflow: scroll;
    overflow-x: hidden;

}

header {
    background: #000000;
    color: #fff;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.user-options {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    justify-content: right;
    position: relative;
    width: 10%;
}

.login-button,
.dropdown {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #000000;
    text-decoration: none;
    border-radius: 4px;
    font-size: 25px;
    position: relative;
}

.dropdown-content {
    right: -1%;
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.dropdown-content a {
    color: #c7c7c7;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #4A2759;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu-icon {
    width: 35px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    align-self: center;
    margin-top: 0.6rem;
}

.bar {
    width: 100%;
    height: 5px;
    background-color: #c7c7c7;
    position: absolute;
    transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
}

.bar1 {
    top: 0;
}

.bar2 {
    top: 12px;
}

.bar3 {
    top: 24px;
}

.menu-icon.active .bar1 {
    transform: rotate(45deg);
    top: 12px;
}

.menu-icon.active .bar2 {
    opacity: 0;
}

.menu-icon.active .bar3 {
    transform: rotate(-45deg);
    top: 12px;
}

.menu {
    left: -250px;
    display: block;
    position: fixed;
    top: 4rem;
    height: 100%;
    width: 250px;
    background-color: #000000;
    padding: 20px;
    box-sizing: border-box;
    transition: left 0.3s ease;
}

.menu.show {
    left: 0;
}

.menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px 0;

}

.menu p {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
}

.menu a:hover {
    background-color: #4A2759;
}

.Copyright-ham-footer {
    width: 75px;
}



.Dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 77px;
    gap: 20px;
    padding: 20px;
    flex-grow: 1;
    min-height: 100vh;
}



.Chart-Container {
    margin-top: 90px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.expense-Chart,
.Investment-Chart,
.Transaction-History-Chart {
    padding: 20px;
    border-radius: 10px;
}

.expense-Chart,
.Investment-Chart {
    width: 45%;
    max-width: 600px;
}

.Transaction-History-Chart {
    width: 90%;
    max-width: 1200px;
}

.Transaction-list {
    color: #ffff;
    margin-top: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
}

.Transaction-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.Transaction-list th,
.Transaction-list td {

    text-align: center;
    border-bottom: 1px solid #ddd;
}

.Transaction-list th {
    background-color: #4A2759;
}

.category-drop,
.type-select {
    width: 180px;
    height: 75px;
    font-size: 1rem;
    background-color: #221f1f;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.3rem;
}

.usecase-field,
.Amount-field,
.Origin-field,
.Destination-field,
.Date-field {
    width: 180px;
    height: 50px;
    font-size: 1.3rem;
    background-color: #221f1f;
    box-shadow: none;
    border: none;
    color: #fff;
}

.Budget-income-Chart {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 60%;
}


.usecase-field,
.Amount-field,
.Origin-field,
.Destination-field,
.Date-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-button {
    background-color: transparent !important;
    border: none;
}

.submit-button:hover {
    cursor: pointer;
}




.edit-buttons button {
    background-color: transparent !important;
    border: none;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.edit-buttons button:hover {
    cursor: pointer;
    border: 1px solid #ddd;
}




.edit-menu-container {
    width: 50%;
    min-width: 350px;
    max-width: 500px;
    height: 65%;
    min-height: 700px;
    max-height: 900px;
    background-color:#3a3a3a;
    justify-self: center;
    position: fixed;
    top: 25%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 0);
    border-radius: 20px;

    
    justify-content: center;
    flex-direction: column;
    display: none;
}

.edit-menu-container.visible {
    display: grid;
}


/* .edit-type-select {
    width: 20%;
    height: 10%;
    font-size: 1rem;
    background-color: #221f1f;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.3rem;
}

.edit-category-drop {
    width: 25%;
    height: 10%;
    font-size: 1rem;
    background-color: #221f1f;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.3rem;
} */

/* .exit-btn {
    background: none;
    border: none;
    font-size: 40px;
    top: 10px;
    right: 10px;
    position: absolute;
}

.exit-btn:hover {
    cursor: pointer;
    border: 1px solid #ddd;
} */




.edit-contract-container {
    width: 50%;
    height: 65%;
    min-width: 270px;
    background-color:#67367c;
    justify-self: center;
    position: fixed;
    top: 25%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 0);
    border-radius: 10px;
    display: none;
}

.edit-contract-container.visible {
    display: grid;
}


.add-transaction-menu {
    width: 50%;
    min-width: 350px;
    max-width: 500px;
    height: 65%;
    min-height: 700px;
    max-height: 900px;
    background-color:#3a3a3a;
    justify-self: center;
    position: fixed;
    top: 25%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 0);
    border-radius: 20px;

    
    justify-content: center;
    flex-direction: column;
    display: none;
}

.add-transaction-menu.visible {
    display: block;
}

.input-group {
    padding: 10px;
    font-size: 20px;
    flex-direction: column;
}



/* .trans-category-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 300px;
} */

.trans-category-container label, .trans-type-slct-container label, 
.trans-transf-input-container label, .trans-description-container label, 
.trans-amount-container label, .trans-date-container label, 
.trans-contract-container label, .trans-contract-cycle-container label{
    font-weight: bold;
    font-size: 1rem;
    color: #c7c7c7;
    display: inline-block;
}

#trans-category-slct, #transf-destination-slct, 
#transf-orgini-slct, #trans-type-slct,
#contract-cycle-slct {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color:#000000;
    color: #c7c7c7;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(51, 51, 51)" class="bi bi-chevron-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/> </svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    cursor: pointer;
}

#trans-category-slct:focus, #transf-destination-slct:focus, 
#transf-orgini-slct:focus, #trans-type-slct:focus, 
#trans-description-inp:focus, #trans-amount-inp:focus, 
#trans-date-inp:focus, #trans-contract-checkbox:focus, 
#contract-cycle-slct:focus, #contract-enddate-inp:focus, 
#save-transaction-btn:focus  {
    outline: none;
    border-color: #67367c;
    box-shadow: 0 0 5px rgba(183, 0, 255, 0.5);
}

#trans-category-slct option, #transf-destination-slct option, 
#transf-orgini-slct option, #trans-type-slct option , 
#contract-cycle-slct option {
    font-size: 1rem;
    padding: 0.5rem;
    color: #c7c7c7;
}




.Total-data {
    color: #c7c7c7;
}



.accountOverview-container {
    position: absolute;
    justify-content: left;
    left: 10%;
    color: #ddd;
}

.Account-Name-H1 {
    font-size: 100px;
}

.Account-Balance-p {
    font-size: 30px;
}



.time-range-container {
    /* margin: auto; */
    align-self: center;
    color: #ddd;
    margin-left: 50%;
    transform: translateX(-50%);
}

.time-range-container select {
    align-self: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

.time-selector {
    color: #ddd;

}

.time-selector button {
    font-size: 1.5em;
    background: none;
    border: none;
}

.time-selector button:hover {
    background-color: #555;
    /* border-style: solid; */
    cursor: pointer;
    /* border-color: #888; */
    border-radius: 3px;
}

#timeframe {
    margin: 0 10px;
    font-size: 1.5em;

}


.accountBlanceChart-Container {
    width: 50%;
}

.in-ex-charts-container {
    margin-top: 200px;
    width: 100%;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.expensesByCategoryChart-container,
.incomeByCategoryChart-container {
    width: 45%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center h2 and canvas horizontally */
    margin: 0 2.5%;
}

.expensesByCategoryChart-container h2,
.incomeByCategoryChart-container h2 {
    text-align: center;
    /* Center the h2 text */
    margin-bottom: 20px;
    /* Add some space between h2 and canvas */
}


.transaction-table-container,
.contract-table-container {
    margin-top: 150px;
    width: 900px;
    height: 800px;
    color: #ffff;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    /* Add this to prevent overflow issues */
}

.transaction-table-container table,
.contract-table-container table {
    background-color: #221f1f;
    width: 100%;
    border-collapse: collapse;
}

/* Add this block to make the tbody scrollable */
.transaction-table-container tbody,
.contract-table-container tbody {
    display: block;
    height: 700px;
    /* Adjust the height as needed */
    overflow-y: auto;
    width: 100%;
}

/* Add this block to keep the thead fixed */
.transaction-table-container thead,
.contract-table-container thead {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #4A2759;
    display: table;
    table-layout: fixed;
}

.transaction-table-container tbody tr,
.contract-table-container tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;

}

.transaction-table-container tbody tr:hover,
.contract-table-container tbody tr:hover {

    background-color: #555;
}

.transaction-table-container thead th,
.transaction-table-container tbody td .contract-table-container thead th,
.contract-table-container tbody td {
    padding: 10px;
    text-align: left;
}

.income-to-expense-chart-contianer {
    margin-top: 150px;
    width: 50%;
}














/* Exit Button */
.exit-btn {
    display: flex;
    justify-self: right;
    scale: 125%;
    background: none;
    border: none;
    font-size: 25px;
    width: 20px;
    height: 20px;
    padding: 0;
}

.exit-btn:hover {
    cursor: pointer;
    color: crimson;
}

/*Dark background overlay for every toggle box */
.dark-overlay {
    background-color: #00000083;
    top: 0;
    position: fixed;
    width: 100%;
    height: 2000px;
    display: none;
}

.dark-overlay.visible {
    display: block;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

footer {
    background: #04163E;
    color: #c7c7c7;
    text-align: center;
    padding: 0rem;
    width: 100%;
}

input[type="submit"] {
    border: none;
    font-size: 2rem;
    background-color: #000000;
    margin-left: auto;
    display: block;
}

@media (max-width: 768px) {
    .Chart-Container {
        flex-direction: column;
        align-items: center;
    }

    .expense-Chart,
    .Investment-Chart,
    .Transaction-History-Chart {
        width: 90%;
        margin: 20px 0;
    }

    .user-options {
        width: auto;
        flex-direction: column;
        align-items: flex-end;
    }

    .category-drop,
    .type-select,
    .usecase-field,
    .Amount-field,
    .Origin-field,
    .Destination-field,
    .Date-field {
        width: 100%;
        margin-bottom: 10px;
    }

    .Transaction-list {
        padding: 10px;
    }

    .Transaction-list table {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    header {
        padding: 1rem;
    }

    .login-button,
    .dropdown {
        font-size: 20px;
        padding: 0.4rem 0.8rem;
    }

    .menu {
        width: 200px;
    }

    .Dashboard {
        padding: 10px;
    }

    .category-drop,
    .type-select,
    .usecase-field,
    .Amount-field,
    .Origin-field,
    .Destination-field,
    .Date-field {
        width: 100%;
        font-size: 1rem;
    }

    input[type="submit"] {
        font-size: 1.5rem;
    }

    .Transaction-list {
        flex-direction: column;

    }

    .Transaction-list th,
    .Transaction-list td {
        padding: 5px;
    }
}