body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background: linear-gradient(to bottom, #000000, #15025E);
    background-position: fixed;
    display: flex;
    flex-direction: column;
    color-scheme: dark;
    overflow: scroll;
    overflow-x: hidden;

}

header {
    background: #000000;
    color: #fff;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.user-options {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    justify-content: right;
    position: relative;
    width: 10%;
}

.login-button,
.dropdown {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #000000;
    text-decoration: none;
    border-radius: 4px;
    font-size: 25px;
    position: relative;
}

.dropdown-content {
    right: -1%;
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.dropdown-content a {
    color: #c7c7c7;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #4A2759;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu-icon {
    width: 35px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    align-self: center;
    margin-top: 0.6rem;
}

.bar {
    width: 100%;
    height: 5px;
    background-color: #c7c7c7;
    position: absolute;
    transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
}

.bar1 {
    top: 0;
}

.bar2 {
    top: 12px;
}

.bar3 {
    top: 24px;
}

.menu-icon.active .bar1 {
    transform: rotate(45deg);
    top: 12px;
}

.menu-icon.active .bar2 {
    opacity: 0;
}

.menu-icon.active .bar3 {
    transform: rotate(-45deg);
    top: 12px;
}

.menu {
    left: -250px;
    display: block;
    position: fixed;
    top: 4rem;
    height: 100%;
    width: 250px;
    background-color: #000000;
    padding: 20px;
    box-sizing: border-box;
    transition: left 0.3s ease;
}

.menu.show {
    left: 0;
}

.menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px 0;

}

.menu p {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
}

.menu a:hover {
    background-color: #4A2759;
}

.Copyright-ham-footer {
    width: 75px;
}



.Dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 77px;
    gap: 20px;
    padding: 20px;
    flex-grow: 1;
    min-height: 100vh;
}

.nothing-here-text {
    top: 25%;
    width: 100%;
    color: #ddd;
}

.account-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* Ensure the wrapper takes full height of the viewport */
    padding-bottom: 100px;
    /* Ensure the wrapper takes full height of the viewport */
}

.spacer {
    flex-grow: 1;
    /* This will push the add-new-financialAccount-field to the bottom */
}


.add-new-financialAccount-field {
    background: #ffffff18;
    width: 350px;
    height: 850px;
    border-radius: 10px;
    border-style: dotted;
    border-color: #c7c7c7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.add-new-financialAccount-field:hover {
    cursor: pointer;
    border-color: #fff;
    width: 370px;
    height: 870px;
}

.add-new-fin-acc-plus {
    background-color: #4A2759;
    border: none;
    border-radius: 6px;
    width: 42px;
    height: 42px;
    font-size: 30px;
    justify-self: center;
}

.add-new-fin-acc-plus:hover {
    cursor: pointer;
    background-color: #67367c;
}


.add-new-acc-background {
    background-color: #00000083;
    position: absolute;
    width: 100%;
    height: 2000px;
    display: none;
}

.add-new-acc-background.visible {
    display: block;
}


.add-new-acc-menu {
    width: 50%;
    height: 65%;
    background-color: #ff00dd;
    justify-self: center;
    position: fixed;
    top: 25%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 0);
    border-radius: 10px;
}


.Bank-Acc-Container,
.Cash-Acc-Container,
.Crypto-Wallet-Container,
.Crypto-Wallet-Container {
    width: 40%;
    min-width: 500px;
    height: auto;
    padding: 20px;
    background-color: #3c3a3d;
    border-radius: 10px;
    color: #c7c7c7;
    margin-bottom: 20px;
    text-align: center;

}

.Bank-Acc-Container:hover,
.Cash-Acc-Container:hover,
.Crypto-Wallet-Container:hover,
.Crypto-Wallet-Container:hover {
    cursor: pointer;
    padding: 25px;
}



.income-values {
    color: greenyellow;
}


.expense-values {
    color: red;
}

.monthly-plus-minus-container {
    gap: 20px;
    text-align: center;
}

.other-data-container {
    display: flex;
    justify-content: space-between;
}

.in-out-data-container {
    display: block;
    text-align: left;
}

.transf-data-contianer {
    display: block;
    text-align: right;
    top: 20px;
}

.quickadd-transaction-btn {
    background-color: #67367c;
    border: none;
    border-radius: 3px;
    width: 10%;
    height: 40px;
    font-size: 30px;
    justify-content: center;
    display: flex;
}

.quickadd-transaction-btn:hover {
    cursor: pointer;
    background-color: #984fb8;
}




/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.download-transactions-btn {
    font-size: 25px;
    background: none;
    border: none;
}

.download-transactions-btn:hover {
    cursor: pointer;
    background-color: #888;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.last-5-transaction-container table {
    width: 100%;
    border-collapse: collapse;
}

.last-5-transaction-container thead {
    background-color: #4A2759;
}

.last-5-transaction-container th,
.last-5-transaction-container td {

    text-align: center;
    border-bottom: 1px solid #ddd;
}

#last-5-transaction-type-row {
    text-align: left;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* File import */


.toggle-import-file-btn {
    /* width: 10%; */
    /* height: 10%; */
    font-size: 25px;
    background: none;
    border: none;
}

.toggle-import-file-btn:hover {
    cursor: pointer;
    background-color: #888;
}

.close-import-btn {
    background: none;
    border: none;
    font-size: 40px;
    top: 10px;
    right: 10px;
    position: absolute;
}

.close-import-btn:hover {
    cursor: pointer;
    border: 1px solid #ddd;
}



.import-file-container {
    background-color: #4a27595d;
    margin-top: 100px;
    position: fixed;
    width: 40%;
    height: 40%;
    border-style: dashed;
    border-radius: 2px;
    display: none;
    top: auto;
    color: #c7c7c7;
}

.import-file-container.visible {
    display: block;
}

#upload-icon {
    color: #c7c7c7;
    font-size: 86px;
    justify-content: center;
    display: flex;
}

.import-transaction-btn {
    display: none;
}

.choose-file-text:hover {
    
}

.btn-primary {
    display: flex;
    justify-content: center;
}


/* .box__dragndrop,
.box__uploading,
.box__success,
.box__error {
    display: none;
}

.box.has-advanced-upload {
    background-color: white;
    outline: 2px dashed black;
    outline-offset: -10px;
}

.box.has-advanced-upload .box__dragndrop {
    display: inline;
}

.box.is-dragover {
    background-color: grey;
} */



/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Add transaction */
.add-transaction-container {
    background-color: #00000083;

    position: fixed;
    width: 100%;
    height: 2000px;
    display: none;
}

.add-transaction-container.visible {
    display: block;
}

.add-transaction-menu,
.edit-contract-container {
    width: 50%;
    height: 65%;
    background-color: #ff00dd;
    justify-self: center;
    position: fixed;
    top: 25%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 0);
    border-radius: 10px;
}

.Total-data {
    color: #c7c7c7;
}

/* .Bank-Acc-Container,
.Cash-Acc-Container,
.Crypto-Wallet-Container,
.Crypto-Wallet-Container p {
    top: 5%;
    left: 10%;
} */











/*Dark background overlay for every toggle box */
.dark-overlay {
    background-color: #00000083;
    top: 0;
    position: fixed;
    width: 100%;
    height: 2000px;
    display: none;
}

.dark-overlay.visible {
    display: block;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

footer {
    background: #04163E;
    color: #c7c7c7;
    text-align: center;
    padding: 0rem;
    width: 100%;
}

input[type="submit"] {
    border: none;
    font-size: 2rem;
    background-color: #000000;
    margin-left: auto;
    display: block;
}

@media (max-width: 768px) {
    .Chart-Container {
        flex-direction: column;
        align-items: center;
    }

    .expense-Chart,
    .Investment-Chart,
    .Transaction-History-Chart {
        width: 90%;
        margin: 20px 0;
    }

    .user-options {
        width: auto;
        flex-direction: column;
        align-items: flex-end;
    }

    .category-drop,
    .type-select,
    .usecase-field,
    .Amount-field,
    .Origin-field,
    .Destination-field,
    .Date-field {
        width: 100%;
        margin-bottom: 10px;
    }

    .Transaction-list {
        padding: 10px;
    }

    .Transaction-list table {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    header {
        padding: 1rem;
    }

    .login-button,
    .dropdown {
        font-size: 20px;
        padding: 0.4rem 0.8rem;
    }

    .menu {
        width: 200px;
    }

    .Dashboard {
        padding: 10px;
    }

    .category-drop,
    .type-select,
    .usecase-field,
    .Amount-field,
    .Origin-field,
    .Destination-field,
    .Date-field {
        width: 100%;
        font-size: 1rem;
    }

    input[type="submit"] {
        font-size: 1.5rem;
    }

    .Transaction-list {
        flex-direction: column;

    }

    .Transaction-list th,
    .Transaction-list td {
        padding: 5px;
    }

    .category-drop,
    .type-select,
    .usecase-field,
    .Amount-field,
    .Origin-field,
    .Destination-field,
    .Date-field {
        padding: 5px;
    }

    .edit-mode-button {
        padding: 5px 10px;
    }


    .Bank-Acc-Container,
    .Cash-Acc-Container,
    .Crypto-Wallet-Container,
    .Crypto-Wallet-Container {
        font-size: smaller;
        min-width: 350px;
    }
}