body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background: #2b2b2b;
    display: flex;
    flex-direction: column;
    min-width: 270px;
}

h1 {
    color: floralwhite;
}

header {
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
    box-shadow: inset 0px -13px 14px -8px rgba(0,0,0,0.8);
}

.user-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-creditials-container {
    color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #1f1f1f;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.8);
}

.account-creditials-container form{
    display: flex;
    flex-direction: column;
}

.cred-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cred-group label {
    width: 120px;
}

.cred-group button {
    margin-left: 5px;
}

.accounts-table-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #1f1f1f;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.8);
    color: aliceblue;
    /* min-width: 310px; */
}

.accounts-table-container h3 {
    color: aliceblue;
}

.accounts-table-container tbody {
    background-color: aliceblue;
}

.accounts-table-container th {
    background-color: #8b00a7;
}

.accounts-table-container td {
    text-align: center;
    padding: 10px;
    background-color: #3a3a3a;
}

.edit-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
}


.new-pswrd-container {
    flex-direction: column;
    display: none;
}

.new-pswrd-container form {
    display: flex;
    flex-direction: column;
}

.new-pswrd-container label {
    justify-content: left;
}

.new-pswrd-container.visible {
    display: flex;
}


.confirm-deletion-container {
    background-color: #3a3a3a;
    display: none;
    justify-self: center;
    top: 300px;
    position: fixed;
    color: #fcfafa;
    border-radius: 10px;
    padding: 25px;
}

.confirm-deletion-container.visible {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.deletion-content h4 {
    margin: 0;
    color: red;
}

.del-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.del-text-container h3 {
    margin: 0;
}




.del-btn-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#confirm-del-btn {
    justify-self: center;
    align-self: center;
    margin-top: 10px;

    color: #fcfafa;
    background-color: #2b2b2b;
    border: none;
    border-radius: 8px;
    width: 15%;
    
}

#confirm-del-btn button {
    width: 10%;
}

#confirm-del-btn:hover {
    background-color: #3a3a3a;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.exit-btn-container {
    display: flex;
    justify-content: right; 
}




/* Exit Button */
.exit-btn {
    background: none;
    border: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fcfafa;
}

.exit-btn:hover {
    cursor: pointer;
    color: crimson;
}

.edit-fin-acc-window {
    background-color: #3a3a3a;
    display: none;
    justify-self: center;
    top: 300px;
    position: fixed;
    color: #fcfafa;
    border-radius: 10px;
    padding: 25px;
}

.edit-fin-acc-window.visible {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.exit-btn-container {
    display: flex;
    justify-content: right; 
}

.edit-fin-acc-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.submit-fin-acc-edit {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#confirm-name-edit-btn {
    justify-self: center;
    align-self: center;
    margin-top: 10px;

    color: #fcfafa;
    background-color: #2b2b2b;
    border: none;
    border-radius: 8px;
}



#confirm-name-edit-btn:hover {
    background-color: #3a3a3a;
    color: rgb(60, 255, 0);
    cursor: pointer;
}


/*Dark background overlay for every toggle box */
.dark-overlay {
    background-color: #00000083;
    top: 0;
    position: fixed;
    width: 100%;
    height: 2000px;
    display: none;
}

.dark-overlay.visible {
    display: flex;
}


@media (max-width: 370px) {
    .cred-group {
        display: block;
    }
}