@page
@using FinanceTracker.Pages
@model LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    <h2>Why are you here.....</h2>
    <h2>This isnt right.....</h2>
    <h3>Well since youre already here, how are you? Did you had a good day today?</h3>
</body>
</html>