@page
@using FinanceTracker.Pages
@model BudgetModel
@{
    ViewData["Title"] = "Dashboard";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/DashboardStyles.css">
    <link rel="icon" type="image/png" sizes="32x24" href="..\images\BudgedBuddyTranspSmol32pxWide.png">
    <script src="/js/site.js"></script>
</head>

<body>
    <header class="header">
        <div class="menu-icon" onclick="toggleMenu()">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>

        <div class="menu" id="menu">
            <a href="Dashboard">Dashboard</a>
            <a href="Investments">Investments</a>
            <a href="Budget">Budget</a>
            <a href="Transactions">Transactions</a>
            <a href="#Contact">Contact</a>
            <div class="Copyright-ham-footer">
                <p>&copy; 2024 Budget Buddy. All rights reserved.</p>
            </div>
        </div>

        <div class="user-options">
            <div class="login-button">
                <span onclick='onclick=location.href = "/UserSettings"'>@Model.WebUser.Name</span>
            </div>
            <div class="dropdown">
                <span id="settings">Options</span>
                <div class="dropdown-content">
                    <a href="/UserSettings">Profile</a>
                    <a href="#settings">Settings</a>
                    <a href="/Logout">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <div>

    </div>
    <div class="Transaction-list">
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>UseCase</th>
                    <th>Amount</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <form>
                            <select id="category-Dropdown" class="category-drop">
                                <option value="">--</option>
                                <option value="Groceries">Groceries</option>
                                <option value="Investments">Investments</option>
                                <option value="Tech">Tech</option>
                                <option value="Savings">Savings</option>
                                <option value="Traveling">Traveling</option>
                                <option value="Incurance">Incurance</option>
                                <option value="Gas">Gas</option>
                                <option value="Car">Car</option>
                                <option value="Houshold">Houshold</option>
                                <option value="Fun & Freetime">Fun & Freetime</option>
                                <option value="Other">Other</option>
                            </select>
                        </form>

                        <script>
                            const firstDropdown = document.getElementById('firstDropdown');
                    
                            firstDropdown.addEventListener('change', function () {
                                const selectedOption = this.value;
                                
                            /*
                                if (options[selectedOption]) {
                                    options[selectedOption].forEach(function (item) {
                                        const optionElement = document.createElement('option');
                                        optionElement.value = item.toLowerCase();
                                        optionElement.textContent = item;
                                        
                                    });
                                }
                                */
                            });
                            
                        </script>
                    </td>
                    <td><input type="text" name="UseCase" class="usecase-field"></td>
                    <td><input type="text" name="Amount" class="Amount-field"></td>
                    <td><input type="text" name="Origin" class="Origin-field"></td>
                    <td><input type="text" name="Destination" class="Destination-field"></td>
                    <td><input type="text" name="Date" class="Date-field"></td>
                </tr>
            </tbody>

        </table>
    </div>
    <footer>
        <p>&copy; 2024 Budget Buddy. All rights reserved.</p>
    </footer>

</body>

</html>