@page
@using FinanceTracker.Pages
@model UserSettingsModel
@{
    ViewData["Title"] = "User Settings";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/UserSettings.css">
    <title>User Settings</title>
</head>
<body>
    <h1>HAHAHHAHAHAHAHAHAHAHAHAHHAHA</h1>
</body>
</html>
